.widgets {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: relative;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	&__sidebar {
		position: relative;
		position: -webkit-sticky;
		position: sticky;
		bottom: 60px;
		margin-top: auto;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		display: block;
		min-height: 1px;
	}
}

.widget {
	margin-bottom: 60px;
	&:last-child {
		margin-bottom: 0;
	}
	&__title,
	&-title {
		//font-family: $font__heading;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0;
		margin-bottom: 26px;
		text-align: center;
	}

	&:first-child {
		.widget-title,
		.widget__title {
			margin-top: 0;
		}
	}
	ul li {
		line-height: 21px;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	a {
		color: $color__link;

		&:hover {
			color: $color__link-hover;
		}
	}

	p {
		font-size: 14px;
	}

	&__social {
		text-align: center;
		.social {
			border: none;
			padding: 0;
			margin: 0;
			a {
				display: inline-block;
				padding: 0 8px;
				font-size: 13px;
				color: #000;
			}
		}

		&.--stacked {
			a {
				background: $color__bg_primary;
				border-radius: 50px;
				width: 34px;
				height: 34px;
				line-height: 34px;
				font-size: 12px;
				margin: 0 2px;
				background-color: transparent;
				color: #000;
				border: 1px solid $color__border;
			}
		}
	}

	&__about {
		text-align: center;
		font-size: 15px;
		color: #888;

		.widget__title {
			margin-bottom: 25px;
		}
		&-img {
			position: relative;
			max-width: 160px;
			max-height: 160px;
			margin: 0 auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			overflow: hidden;
			img {
				margin: 0;
				padding: 0;
				border-radius: 100px;
			}
			&.square {
				border-radius: 0;
				max-width: 270px;
				max-height: 270px;
				margin-bottom: 25px;
				img {
					border-radius: 0;
				}
			}
		}

		h2 {
			font-size: 22px;
			margin-bottom: 18px;
		}

		p {
			font-size: 15px;
			margin-bottom: 16px;
			color: #888;
		}

		.social {
			margin-top: 16px;
			border: none;
			padding: 0;
			margin: 0;
			a {
				text-decoration: none;
			}
		}

		&-sig {
			max-width: 140px;
			margin: 0 auto 12px;
			img {
				padding-top: 10px;
				margin: 0 auto;
			}
		}
	}

	&__posts {
		padding: 0;
		margin: 0;
		list-style: none;
		img {
			vertical-align: top;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			outline: 1px solid transparent;
		}
		iframe {
			max-height: 100px;
		}
		.widget__post {
			position: relative;
			margin-bottom: 14px;
			@include flex();
			align-items: flex-start;
			&-img {
				display: inline-block;
				width: 36%;
				max-width: 95px;
				a {
					display: block;
					overflow: hidden;
				}
				img {
					margin: 0;
				}
			}
			&-info {
				display: inline-block;
				width: 60%;
				text-align: left;

				h4 {
					font-size: 16px;
					margin-top: 5px;
					margin-bottom: 0;
					letter-spacing: 0;
					line-height: 20px;
					font-weight: 500;

					a {
						color: #000;
					}
				}

				p {
					font-size: 13px;
					color: #848484;
					line-height: 13px;
					margin-top: 7px;
				}

				.meta-cat {
					margin-top: 4px;
					margin-bottom: 4px;
					line-height: 1;

					a {
						background: transparent;
						padding: 0;
					}
				}
			}
			&-count {
				display: inline-block;
				position: absolute;
				color: #fff;
				top: -9px;
				left: -9px;
				background-color: rgba(0,0,0,.65);
				background-color: #000000;
				z-index: 99;
				font-size: 10.1px;
				font-weight: bold;
				width: 28px;
				height: 28px;
				line-height: 28px;
				text-align: center;
				margin: 0;
				border-radius: 100px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		&.--large {
			.widget__post {
				display: block;
				margin-bottom: 25px;
				&-img {
					display: block;
					width: 100%;
					max-width: 100%;
					img {
						width: 100%;
					}
				}
				&-count {
					display: none;
				}
				&-info {
					position: relative;
					width: 100%;
					padding: 17px 0 0;
					.meta-cat {
						margin-top: 0;
					}
					h4 {
						font-size: 17px;
						font-weight: 500;
						line-height: 25px;
					}
					&.--count {
						@include flex();
						.widget__post-count {
							display: block;
							position: absolute;
							font-family: $font__heading;
							margin: 0;
							left: 0;
							top: 30px;
							font-size: 46px;
							font-weight: 700;
							color: #e0e0e4;
							background-color: transparent;
						}
						h4,
						span {
							padding-left: 40px;
						}
					}
				}
				
			}
			iframe {
				max-height: 250px;
			}
		}	 

	}

	&__slider {
		position: relative;
		overflow: hidden;
		margin-bottom: -20px;

		&[data-overlay] .widget__slider-img:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #1c1d1f;
			opacity: 0;
			-webkit-transition: background 0.3s;
			-moz-transition: background 0.3s;
			transition: background 0.3s;
			backface-visibility: hidden;
		}

		&[data-overlay="10"] .widget__slider-img:after {
			opacity: 0.1;
		}

		&[data-overlay="20"] .widget__slider-img:after {
			opacity: 0.2;
		}

		&[data-overlay="30"] .widget__slider-img:after {
			opacity: 0.3;
		}

		&[data-overlay="40"] .widget__slider-img:after {
			opacity: 0.4;
		}

		&[data-overlay="50"] .widget__slider-img:after {
			opacity: 0.5;
		}

		&[data-overlay="60"] .widget__slider-img:after {
			opacity: 0.6;
		}

		&[data-overlay="70"] .widget__slider-img:after {
			opacity: 0.7;
		}

		&[data-overlay="80"] .widget__slider-img:after {
			opacity: 0.8;
		}

		&[data-overlay="90"] .widget__slider-img:after {
			opacity: 0.9;
		}

		&[data-overlay="100"] .widget__slider-img:after {
			opacity: 1;
		}
		img {
			margin: 0;
			width: 100%;
			max-width: 100%;
		}
		.widget__slider-info {
			position: absolute;
			@include flex();
			justify-content: space-around;
			flex-direction: column;
			text-align: center;
			padding: 0 20px;
			top: 0;
			height: 100%;
			cursor: grab;
			cursor: -webkit-grab;

			.meta-cat {
				margin-top: 3px;
				a {
					background-color: rgba(0, 0, 0, 0.35);
					-webkit-text-stroke: 0;
					text-shadow: none;
					background-color: rgba(255, 255, 255, 0.10980392156862745);
					color: #fff;
					-webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.4);
				}
			}

			h4 {
				font-size: 25px;
				line-height: 1.2;
				width: 100%;
				margin: 0;
				padding-bottom: 10px;
				text-shadow: 1px 1px 0 rgba(150,150,150,0.2);
			}

			a {
				color: #fff;
			}

			.link {
				font-size: 10.1px;
				margin: 0;
				border-color: rgba(255, 255, 255, 0.2784313725490196);
				padding-bottom: 5px;
				-webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.4);
			}
		}
		&[data-pagination="1"] .swiper-pagination {
			position: relative;
			bottom: -9px;
			height: 23px;
		}
	}

	&__cats {
		a {
			position: relative;
			display: block;
			margin-bottom: 20px;
			height: 102px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			transition: $transition;
			> div {
				position: absolute;
				display: block;
				top: 21px;
				left: -10px;
				font-size: 0;
				span {
					@include text__link();
					color: #fff;
					position: relative;
					display: inline-block;
					font-size: 9.7px;
					font-weight: 500;
					line-height: 12px;
					text-transform: uppercase;
					letter-spacing: 1px;
					text-decoration: none;
					margin: 0;
				}
				span:first-child {
					background-color: #000;
					padding: 9px 14px;
				}
				span:last-child {
					background-color: rgba(0,0,0,.65);
					font-size: 10px;
					padding: 9px 10px;
				}
			}
			&:hover {
				opacity: .85;
			}
		}
		&.--center {
			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				> div {
					position: relative;
					top: auto;
					left: auto;
				}
			}
		}
	}

}

.widget_archive,
.widget_categories,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	ul {
		padding: 0;
		list-style: none;

		li {
			color: $color__text-light;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
			margin: 0 0 10px;
			@include antialiased();
		}
	}
}

.widget_archive,
.widget_categories,
.widget_meta,
.widget_pages,
.widget_recent_entries {
	ul {
		text-align: center;
	}
}

.widget_tag_cloud {
	.tagcloud {
		font-weight: 500;
		text-align: center;

		a {
			font-size: 9px !important;
			background-color: #f1f1f1;
			margin: 2px 0;
			font-weight: 500;
			line-height: 24px;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 5px 12px;
			color: #333;
			transition: $transition;
		}

		a:hover {
			background-color: $color__bg_primary;
		}
	}
}

.widget_search {
	.search__inner {
		position: relative;
		margin: 0;
	}

	.search__input {
		width: 100%;
		border: transparent;
		border-radius: 3px;
		font-family: $font__body;
		line-height: 40px;
		padding: 6px 14px;
		background-color: transparent;
		border: 1px solid $color__border;
		font-size: 14px;
		font-weight: 400;
	}

	.search__submit {
		background: transparent;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	    padding: 2px 14px 0;
	    line-height: 1;
	    height: 100%;

		svg {
			fill: #000;
			width: 16px;
			height: 16px;
			stroke-width: 0.3;
		}

		&:focus,
		&:hover {
			svg {
				fill: #999a99;
			}
		}
	}

	.search__input::-webkit-input-placeholder {
		opacity: 0.7;
	}

	.search__input:-moz-placeholder {
		opacity: 0.7;
	}

	.search__input::-moz-placeholder {
		opacity: 0.7;
	}

	.search__input:-ms-input-placeholder {
		opacity: 0.7;
	}
}

.widget_calendar .calendar_wrap {
	background: #f7f7f7;
	padding: 0 10px 5px;
	text-align: center;

	#wp-calendar {
		width: 100%;

		> caption {
			font-family: $font__heading;
			text-align: center;
			margin-bottom: 10px;
			color: #000;
			letter-spacing: 0;
			text-transform: none;
			font-weight: 700;
			font-size: 18px;
			padding: 35px 0 15px;
		}

		thead th {
			font-size: 12px;
			color: #000;
		}

		tbody td,
		tfoot td,
		thead th {
			border: none;
			padding: 2px 0;
			text-align: center;
		}

		tbody td {
			font-size: 12px;
		}

		#next,
		#prev {
			padding: 10px 5px 15px;
			font-size: 10px;
			font-weight: 500;
			text-transform: uppercase;
		}

		#prev {
			text-align: left;
		}

		#next {
			text-align: right;
		}
	}
}

.widget_recent_comments {
	a {
		word-break: break-word;
	}
}

.widget_nav_menu {
	ul {
		li {
			display: block;
			position: relative;
			font-size: 10px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0;
			text-align: center;
			a {
				line-height: 30px;
			}
		}
	}

	svg {
		display: none;
	}
}

.widget_media_image {
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}

.widget_text {
	.textwidget p {
		color: inherit;
	}
}

.null-instagram-feed {

	.instagram-pics li {
		position: relative;
		display: block;
		float: left;
		margin: 0;
		padding: 6px;
		width: 50%;
	}

	.instagram-pics {
		margin: -3px;
		padding: 0;
	}

	.instagram-pics li img {
		margin-bottom: 0;
		width: 100%;
		max-width: 100%;
		width: calc(100% + 1px);
		max-width: calc(100% + 1px);
		vertical-align: middle;
	}

	> p {
		display: block;
		text-align: center;
		margin-top: 0;
		margin-bottom: -5px;
		font-size: 14px;
		transform: translateY(-17px);
		height: 0;
	}

	> p a {
		background: #000;
		padding: 8px 13px 6px;
		color: #fff !important;
		transform: translateX(50px);
		opacity: 1;
		font-size: 10px;
		-webkit-text-stroke: 0;
		line-height: 13px;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.instagram-pics::after {
		display: block;
		content: "";
		clear: both;
	}

	li .instagram-meta span {
		margin: 0 5px;
		font-size: 13px;
		font-weight: 700;
	}

	.instagram-meta svg {
		fill: #fff;
		stroke: #fff;
		stroke-width: 0.8px;
		width: 13px;
		height: 13px;
		vertical-align: middle;
		margin-bottom: 2px;
	}

	.instagram-pics li a {
		position: relative;
		display: block;
		overflow: hidden;
	}

	.instagram-pics li a img {
		-webkit-transition: transform 0.3s ease;
		-moz-transition: transform 0.3s ease;
		transition: transform 0.3s ease;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	li .instagram-overlay {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	li:hover .instagram-overlay {
		opacity: 1;
	}

	li .instagram-meta {
		display: flex;
		align-items: center;
		height: 100%;
		opacity: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}

	li:hover .instagram-meta {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}

	li .instagram-meta > div {
		width: 100%;
		text-align: center;
		color: #fff;
	}

	li .instagram-meta,
	li .instagram-overlay,
	li a i,
	li a p {
		color: #fff;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	li a p {
		padding: 0 20px;
	}

	.instagram-description {
		display: none;
	}
}

.widget_mc4wp_form_widget {

	form p {
		margin: 0 auto 15px auto;
	}
	
	label {
		display: block;
		text-align: left;
		font-size: 12px;
		letter-spacing: 0;
		font-weight: 500;
		color: #a0a0a0;
	}

	input {
		padding: 10px 20px;
		margin: 0;
		width: 100%;
		font-size: 14px;
		height: 52px;
		border-radius: 2px;
		border-color: #e4e4e4;
	}

	input[type="submit"] {
		padding: 0 40px;
		line-height: 52px;
		border-radius: 0;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: $font__body;
		font-weight: 700;
		background-color: #000;
		color: #fff;
	}

	input[type="checkbox"] {
		display: inline-block;
		margin-top: 33px;
		margin-right: 7px;
		width: 14px;
		height: 14px;
		@media (max-width: 992px) {
			margin-top: 23px;
		}
	}
}

.widgets__sidebar--dev {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 800px;
	margin: 0 auto;
	> .widget {
		display: block;
	    width: 270px;
	    margin: 60px 45px 0 !important;
		.widget__title,
		.widget-title {
			margin-top: 16px;
		}

	}
}
